{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages }}</h4>
        {% endif %}
    {% endwith %}
    <p>Hello {{user.name}}</p>
    <h2>Your offers</h2>
    <h3>Sent</h3>
    {% if sent_offers|length > 0 %}
        <table class="basic">
            <tr>
                <th>Date</th>
                <th>Item requested</th>
                <th>Item offered</th>
                <th>Status</th>
            </tr>
            {% for offer in sent_offers %}
                <tr>
                    <td>{{offer.date_created}}</td>
                    <td>{{offer.wanted_item.name}}</td>
                    <td>{{offer.offered_item.name}}</td>
                    <td>{{offer.status}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You don't have open offers</p>
    {% endif %}
    <h3>Received</h3>
    {% if received_offers|length > 0 %}
        <table class="basic">
            <tr>
                <th>Date</th>
                <th>Item requested</th>
                <th>Item offered</th>
                <th>Status</th>
            </tr>
            {% for offer in received_offers %}
                <tr>
                    <td>{{offer.date_created}}</td>
                    <td>{{offer.wanted_item.name}}</td>
                    <td>{{offer.offered_item.name}}</td>
                    <td>{{offer.status}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You haven't received any offers. Sorry!</p>
    {% endif %}
{% endblock %}