{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages }}</h4>
        {% endif %}
    {% endwith %}
    <p>Hello {{user.name}}</p>
    <h2>Your magic items</h2>
    <p><a href="{{ url_for('dashboard.new_item') }}">Add new magic item</a></p>
    {% if items|length > 0 %}
        <table class="basic">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Attuned</th>
                <th>Notes</th>
                <th>Source</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td><a href="{{ url_for('dashboard.trade_item', item_id=item['item_id']) }}">{{item['model'].name}}</a></td>
                    <td>{{item['model'].type_}}</td>
                    <td>{{item['model'].rarity}}</td>
                    <td>{{item['model'].attuned}}</td>
                    <td>{{item['model'].notes}}</td>
                    <td>{{item['model'].source}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You don't have any magic items.</p>
    {% endif %}
{% endblock %}