{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages }}</h4>
        {% endif %}
    {% endwith %}
    <p>Hello {{user.name}}</p>
    <h2>Your offers</h2>
    <h3>Sent</h3>
    {% if sent_offers|length > 0 %}
        <table class="basic">
            <tr>
                <th>Date</th>
                <th>Item requested</th>
                <th>Item offered</th>
                <th>Status</th>
            </tr>
            {% for item in sent_offers %}
                <tr>
                    <td><a href="{{ url_for('dashboard.trade_item', item_id=item['item_id']) }}">{{item['model'].name}}</a></td>
                    <td>{{item['model'].type_}}</td>
                    <td>{{item['model'].rarity}}</td>
                    <td>{{item['model'].table}}</td>
                    <td>{{item['model'].attuned}}</td>
                    <td>{{item['model'].notes}}</td>
                    <td>{{item['model'].source}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You don't have any magic items.</p>
    {% endif %}
{% endblock %}