{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Index page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <h4>{{ messages }}</h4>
        {% endif %}
    {% endwith %}
    <h2>Login or <a href="{{ url_for('register.register') }}">register</a></h2>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <table class="invisible">
            {% for item in form %}
                {% if item.name != "csrf_token" and item.name != "submit" %}
                    <tr>
                        <td>{{ item.label }}</td>
                        <td>{{ item }}</td>
                        {% if item.errors %}
                            {% for error in item.errors %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td>{{ form.submit }}</td>
            </tr>
        </table>
    </form>
{% endblock %}